{% extends 'layout.html' %}
{% load static %}
{% load staticfiles %}
{% block navbar %}
    <h4 class="center teal-text">Reasearch Gate</h4>
{% endblock %}
{% block container %}
    <div class="container">
        <div class="px-40 vertical spacer"></div>
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header deep-orange lighten-5">Crawler</div>
                <div class="collapsible-body">
                    <div class="card">
                        <div class="card-content">
                            <form method="post">
                                {% csrf_token %}
                                {{ crawler_form }}
                                <button name="crawl-btn" type="submit" class="waves-effect waves-light btn full width">
                                    crawl
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header blue-grey lighten-5">Index</div>
                <div class="collapsible-body">
                    <div class="card">
                        <div class="card-content">
                            <form method="post">
                                {% csrf_token %}
                                {{ index_form }}
                                <button name="index-btn" type="submit" class="waves-effect waves-light btn full width">
                                    indexer
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header  teal lighten-5">Clustering</div>
                <div class="collapsible-body">
                    <div class="card">
                        <div class="card-content">
                            <form method="post">
                                {% csrf_token %}
                                {{ cluster_form }}
                                <button name="cluster-btn" type="submit"
                                        class="waves-effect waves-light btn full width">
                                    Cluster
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header  lime lighten-4">PageRank</div>
                <div class="collapsible-body">
                    <div class="card">
                        <div class="card-content">
                            <form method="post">
                                {% csrf_token %}
                                {{ page_rank_form }}
                                <button name="page-rank-btn" type="submit"
                                        class="waves-effect waves-light btn full width">
                                    PageRank
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="collapsible-header  light-green lighten-2">Query</div>
                <div class="collapsible-body">
                    <div class="card">
                        <div class="card-content">
                            <form method="post">
                                {% csrf_token %}
                                {{ query_form }}
                                <button name="page-rank-btn" type="submit"
                                        class="waves-effect waves-light btn full width">
                                    Search
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}
