{% load static %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>

    <title>{% block title %} {% endblock %}</title>

    <link href="{% static "css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    {% block static_css %}{% endblock %}

</head>
<body id="body">
<header class="navbar-fixed">
    <nav class="white blue-text text-darken-2" role="navigation">
        <div class="nav-wrapper container">
            {% block navbar %}

            {% endblock %}
        </div>
    </nav>
</header>
{% block container %}

{% endblock %}

{% block footer %}

{% endblock %}

<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{% static "js/materialize.min.js" %}"></script>
<script src="{% static "js/init.js" %}"></script>

{% block script %}

{% endblock %}
</body>
</html>